
<div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
  <h1 class="jquery">Hello jQuery!</h1>
  <h1>welcome to <i class="fas fa-book"></i><strong>Bookers</strong>!!</h1>
    <p class="mb-3">in <i class="fas fa-book"></i><strong>Bookers</strong>,</p>
    <p class="mb-3">you can share and exchange your opinions , inpressions , and emotions</p>
    <p class="mb-3">about various books!</p>

  <div class="row">
      <%= link_to "Log in", new_user_session_path, class: "text-white btn btn-info btn-sm px-5 mb-2 mx-auto w-75" %>
  </div>
  <div class="row">
      <%= link_to "sign up", new_user_registration_path, class: "text-white btn btn-success btn-sm px-5 mb-2 mx-auto w-75" %>
  </div>
</div>
