
<h1>welcome to Bookers !!</h1>
<p>in Bookers,<br>
  you can share and exchange your opinions , inpressions , and emotions<br>
  about various books!
</p>

<%= link_to "log in", new_user_session_path %>
<%= link_to "sign up", new_user_registration_path %>
